doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    title Список пользователей
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/Version.css')
    link(rel='stylesheet', href='/stylesheets/Admin.css')
    script(src='https://code.jquery.com/jquery-2.2.4.min.js')
  body
    .left.mainBloc
      a(href='/signout', class='text-center new-account') Sign Out
      h2 Список пользователей
      form#Form(name='userForm')
        .form-group
          label(for='name') Имя:
          input.form-control(type='text', autocomplete='off', name='name')
        .form-group
          label(for='age') Возраст:
          input.form-control(type='number', autocomplete='off', name='age')
        .clubs
          input#PugAbbey(type='radio', name='clubs', value='Pug Abbey')
          label Pug Abbey
          br
          input#CorgiAbbey(type='radio', name='clubs', value='Corgi Abbey')
          label Corgi Abbey
          br
        .panel-body
          button#SaveButton.btn.btn-sm.btn-primary(onclick='CreateUser()', type='button') Сохранить
          button.btn.btn-sm.btn-primary(onclick='reset()', type='button') Сбросить Форму
      .list
    .left.sideBloc
      form(name='clubs', onchange='ClubsOnChange()')
          div.right
            input#PugAbbey( type='radio', name='ShowClubs', value='Pug', checked )
            label Pug Abbey
            br
            button.btn.btn-sm.btn-primary.PugAbbeyButt( type='button' ) Изменить
          div.left
            input#CorgiAbbey( type='radio', name='ShowClubs', value='Corgi' )
            label Corgi Abbey
            br
            button.btn.btn-sm.btn-primary.CorgiAbbeyButt( type='button' ) Изменить
      .SideList
        .Pug.Club.hid
          .PugClubInfo
          .PugList
        .Corgi.Club.hid
          .CorgiClubInfo
          .CorgiList
    script.
      function ClubsOnChange(){
        let club = document.querySelector('input[name="ShowClubs"]:checked');
        let trash = document.querySelectorAll('div.Club:not(.hid)');
        if(trash.length>0) trash.forEach( el => el.classList.add('hid') );
        if(club) document.querySelector('.' + club.value).classList.remove('hid');
      }
      // Получение всех пользователей
      (function(){
        let req = new XMLHttpRequest();
        req.open('GET', '/api/users', true);
        req.onreadystatechange = function (aEvt) {
          if (req.readyState == 4) {
            if(req.status == 200){
              JSON.parse(req.responseText).forEach(el => {
                AddText(el.name + '  ' + el.age + ' ' + el.titleClub, el._id, 'list');
                AddText(el.name + '  ' + el.age + ' ' + el.titleClub, el._id, el.titleClub.split(' ')[0] +'List');
              });
              //- ClubsOnChange();
            } else console.log("Error loading page\\n");
          };
        };
        req.send(null);
      })();
      // Получание информации о клубах
      (function(){
        let req = new XMLHttpRequest();
        req.open('GET', '/api/clubs', true);
        req.onreadystatechange = function (aEvt) {
          if (req.readyState == 4) {
            if(req.status == 200){
              JSON.parse(req.responseText).forEach(el => {
                ClubInf(el)
              });
              ClubsOnChange();
              //можно запросто убрать привязку к заготовленному шаблону html но придется разбираться , с div ами и классами - потом все сделаю 
              document.querySelector('button.PugAbbeyButt').onclick = ChangeClub;
              document.querySelector('button.CorgiAbbeyButt').onclick = ChangeClub;

            } else console.log("Error loading page\\n");
          };
        };
        req.send(null);
      })();
      //Получить юзера
      function GetUser() {
        let id = this.parentElement.id;
        id = id.split('-')[1];
        let req = new XMLHttpRequest();
        req.open('GET', '/api/users/'+id, true);
        req.onreadystatechange = function (aEvt) {
          if (req.readyState == 4) {
            if(req.status == 200) {
              let form = document.forms["userForm"];
              let data = JSON.parse(req.responseText);
              form.elements["name"].value = data.name;
              form.elements["age"].value = data.age;
              document.getElementById(data.titleClub.split(' ').join('')).checked = true;
              let arr = document.querySelectorAll('#DATA-'+data._id);
              let flag;
              if(arr.length) arr.forEach( function(el){ flag = el.classList.toggle('act')})
              if(!flag) {
                reset();
                document.getElementById('SaveButton').onclick = CreateUser;
              } else document.getElementById('SaveButton').onclick = EditUser;
              
              let trash = document.querySelectorAll('.act:not(#DATA-'+data._id+')');
              if(trash.length) trash.forEach( el=>el.classList.remove('act'));
            } else console.log("Error loading page\\n");
          }
        };
        req.send(null);
      };
      // Добавление пользователя
      function CreateUser() {
        let form = document.forms["userForm"] ;
        let name = form.elements["name"].value || 'ЗабылУказатьИмя' ;
        let age = form.elements["age"].value || '000';
        let club = document.querySelector('input[name="clubs"]:checked').value;
        if(name !== '' && age !== '') {
          let xhr = new XMLHttpRequest();
          xhr.open("POST", 'api/users', true);
          xhr.setRequestHeader('Content-type', 'application/json');
          xhr.send(JSON.stringify({
            name: name,
            age: age,
            club : club
          }));
          xhr.onreadystatechange = function () {
            if(xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200){
              let el = JSON.parse(xhr.responseText);
              AddText(el.name + '  ' + el.age + ' ' + el.titleClub, el._id, 'list');
              AddText(el.name + '  ' + el.age + ' ' + el.titleClub, el._id, el.titleClub.split(' ')[0] +'List');
            };
          };
        } else console.log("Необходимо заполнить поля !");
      };
      // Изменение пользователя
      function EditUser() {
        let form = document.forms["userForm"];
        let name = form.elements["name"].value;
        let age = form.elements["age"].value;
        let club = document.querySelector('input[name="clubs"]:checked').value;
        let id = document.querySelector('div.act').id.split('-')[1];
        if(name!=='' && age!==''){
          let xhr = new XMLHttpRequest();
          xhr.open("PUT", 'api/users', true);
          xhr.setRequestHeader('Content-type', 'application/json');
          xhr.send(JSON.stringify({
            id: id,
            name: name,
            age: age,
            club: club,
          }));
          xhr.onreadystatechange = function() {
            if(xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
              document.querySelector("div#DATA-" + id + ' p').innerHTML = name + " " + age + " " + club;
              document.querySelector( "div.Club div#DATA-" + id ).remove();
              AddText(name + " " + age + " " + club, id, club.split(' ')[0] +'List');
              document.querySelector( "div.Club div#DATA-" + id ).classList.add('act');
            };
          };
        } else console.log("Необходимо заполнить поля !");
      };
      // открыть меню клуба
      function ChangeClub() {
        let input = this.parentElement.querySelector('input');

        if(input && !input.checked) {
          input.checked = true;
          ClubsOnChange();
        }
        
        let butt = document.querySelector('div.Club:not(.hid) button');
        butt.classList.toggle('hid');

        let UlArr = document.querySelectorAll('div.Club:not(.hid) li');
        if(UlArr) {
          UlArr.forEach(function(a) {
            let input = a.querySelector('input');
            input.classList.toggle('hid');
          });
        };
      };
      //сохранить изменения клуба 
      function SaveClub() {
        let inpArr = [ ...document.querySelectorAll('div.Club:not(.hid) input')];
        
        let req = new XMLHttpRequest();
        req.open('PUT', '/api/clubs/' + this.parentElement.id, true);
        req.setRequestHeader('Content-type', 'application/json');
        
        let obj = {
          experts: inpArr.filter( (a) => a.hasAttribute('experts') ).map( a => a.value),
          medals: inpArr.filter( (a) => a.hasAttribute('medals') ).map( a => a.value)
        };
        req.send(JSON.stringify( obj ));
        
        inpArr.forEach(function(a){
          if( a.parentElement.localName === 'li' )
            a.parentElement.firstChild.textContent = a.value;
        });
      };
      // сброс формы
      function reset() {
        let form = document.forms["userForm"];
        form.reset();
        document.getElementById('SaveButton').onclick = CreateUser;
      };
      // Удаление пользователя
      function DeleteUser() {
        let id = this.parentElement.id
        id = id.split('-')[1];
        let req = new XMLHttpRequest();
        req.open('DELETE', '/api/users/'+id, true);
        req.setRequestHeader('Content-type', 'application/json');
        req.onreadystatechange = function () {
          if(req.readyState === XMLHttpRequest.DONE && req.status === 200){
            let trash = document.querySelectorAll("#DATA-" + id)
            if(trash[0].classList.contains('act')){
              document.getElementById('SaveButton').onclick = CreateUser;
              reset();
            }
            trash.forEach( (el) => el.remove() );
          };
        };
        req.send(null);
      };

      function AddText(text, id, position) {
        let div = document.createElement('div');
        div.id = "DATA-" + id;
        div.classList.add('info');

        let p = document.createElement('p');
        p.innerText = text;
        div.append(p);

        let AddButton = document.createElement('button');
        AddButton.onclick = GetUser;
        AddButton.classList.add('btn','btn-sm', 'btn-primary');
        AddButton.innerHTML = 'Изменить';
        div.append(AddButton);

        let DellButton = document.createElement('button');
        DellButton.onclick = DeleteUser;
        DellButton.classList.add('btn','btn-sm', 'btn-primary');
        DellButton.innerHTML = 'Удалить';
        div.append(DellButton);

        document.querySelector('.' + position).append(div);
      };

      function ClubInf( el ){
        console.log(el)

        let div = document.querySelector('div.' + el.title.split(' ')[0] + 'ClubInfo')

        let p = document.createElement('p');
        p.innerText = el.info;
        p.classList.add('info')
        div.append(p);

        let inp = function( root, value, ulClass, ind ) {
          let input = document.createElement('input');
          input.type = 'text';
          input.classList.add('form-control', 'hid');
          if( ind || ind === 0) input.setAttribute( ulClass, ind );
          input.value = value;
          root.append(input);
        };

        let list = function( el, root, ulClass) {
          let ul = document.createElement('ul');
          el.forEach( function( a, ind ){
            let li = document.createElement("li");
            li.innerText = a;
            inp( li, a, ulClass, ind );
            ul.append(li);
          });
          if(ulClass) ul.classList.add(ulClass);
          root.append(ul);
        };

        let h3 = document.createElement('h3');
        h3.innerText = 'Судейский состав:';
        div.append(h3);
        list( el.experts, div, 'experts');

        h3 = document.createElement('h3');
        h3.innerText = 'Медали клуба:';
        div.append(h3);
        list( el.medals, div, 'medals');

        let button = document.createElement('button');
        button.innerText = 'Сохранить';
        button.classList.add('hid', 'btn', 'btn-sm', 'btn-primary', el.title.split(' ')[0] );
        button.onclick = SaveClub;
        div.append(button)

        document.querySelector('div.' + el.title.split(' ')[0] + 'ClubInfo').id = el._id;
      };
      
