doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    title Список пользователей
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/Version.css')
    script(src='https://code.jquery.com/jquery-2.2.4.min.js')
  body
    .left.mainBloc
      a(href='/signout', class='text-center new-account') Sign Out
      h2 Список пользователей
      .list
    .left.sideBloc
      form(name='clubs', onchange='ClubsOnChange()')
        input#PugAbbey(type='radio', name='ShowClubs', value='Pug', checked)
        label Pug Abbey
        input#CorgiAbbey(type='radio', name='ShowClubs', value='Corgi')
        label Corgi Abbey
        br
      .SideList
        .Pug.Club.hid
          .PugClubInfo
          .PugList
        .Corgi.Club.hid
          .CorgiClubInfo
          .CorgiList
    script.
      // Получить информацию пользователя
      function GetInfo() {
        let form = document.forms["userForm"] ;
        let name = form.elements["name"].value.replace(/^\s+/g, '');
        if( name ){
          let req = new XMLHttpRequest();
          req.open('GET', '/api/users/name/'+ name, true);
          req.onreadystatechange = function (aEvt) {
            if (req.readyState == 4) {
              if(req.status == 200) {
                let { data } = JSON.parse(req.responseText);
                var newWin = window.open("about:blank", "hello", "width=700,height=500");
                let p = '';
                for( i in data){
                  if( i!== '_id' ) p+= i + ' - ' + data[i] + '<br/>';
                }
                newWin.document.write(p);
              } else console.log("Error loading page\\n");
            }
          };
          req.send(null);
        }
      };
      function ClubsOnChange(){
        let club = document.querySelector('input[name="ShowClubs"]:checked');
        let trash = document.querySelectorAll('div.Club:not(.hid)');
        if(trash.length>0) trash.forEach( el => el.classList.add('hid') );
        if(club) document.querySelector('.' + club.value).classList.remove('hid');
      };
      //получить всех пользователей 
      (function() {
        let req = new XMLHttpRequest();
        req.open('GET', '/api/users', true);
        req.onreadystatechange = function (aEvt) {
          if (req.readyState == 4) {
            if(req.status == 200){
              console.log(JSON.parse(req.responseText))
              let { data }= JSON.parse(req.responseText)
              data && data.forEach( function(el){
                let text = 'Имя - ' + el.name + ':  Возраст - ' + el.age + ':  Клуб - ' + el.club;
                let about = '  Мама - '+ el.parents.mom + '@  Отец - ' + el.parents.dad + '@  Информация - ' + el.info ;
                AddText(text, about, el._id, 'list');
                AddText(text, about, el._id, el.club.split(' ')[0] +'List');
              });
              ClubsOnChange();
            } else console.log("Error loading page\\n");
          }
        };
        req.send(null);
      })();
      //получить все клубы 
      (function(){
        let req = new XMLHttpRequest();
        req.open('GET', '/api/clubs', true);
        req.onreadystatechange = function (aEvt) {
          if (req.readyState == 4) {
            if(req.status == 200){
              console.log( JSON.parse(req.responseText) )
              JSON.parse(req.responseText).data.forEach(el => {
                ClubInf(el)
              });
              ClubsOnChange();
            } else console.log("Error loading page\\n");
          };
        };
        req.send(null);
      })();
      function AddText(text, about, id, position){
        let div = document.createElement('div');
        div.id = "DATA-" + id;
        div.classList.add('info');

        let p = document.createElement('p');
        p.innerText = text;
        div.append(p);
        let a = document.createElement('button');
        a.onclick = function(){
          this.parentElement.querySelector('.invizInf').classList.toggle('inviz');
        };
        a.classList.add('btn','btn-sm', 'btn-primary');
        a.innerHTML = 'показать';
        div.append(a);
    
        p = document.createElement('p');
        about.split('@').forEach( function(el){
          p.appendChild(document.createTextNode( el ));
          p.appendChild(document.createElement('br'));
        });
        p.classList.add('inviz', 'invizInf')
        div.append( document.createElement('div'), p );
        
        a =  document.createElement('button');
        a.onclick = function(){
          console.dir(this.parentElement)
          let type = 'data:application/octet-stream;base64, ';
          let text = '';
          this.parentElement.querySelectorAll('p').forEach( function(el){
            text += el.textContent.split('  ').join('\n');
          });
          console.log(text);
          let base = btoa(unescape(encodeURIComponent(text) ) );
          let res = type + base;
          this.parentElement.querySelector('a').href = res;
          this.parentElement.querySelector('a').click();
        };
        a.classList.add('btn','btn-sm', 'btn-primary');
        a.innerHTML = 'справка';
        let b = document.createElement('a');
        b.setAttribute('download', 'certificate.txt');
        b.href = '#';
        a.append(b);
        div.append(a);

        document.querySelector('.' + position).append(div);
      };
      function ClubInf(el){
        let div = document.createElement('div');
        div.classList.add('ClubInfo');

        let p = document.createElement('p');
        p.innerText = el.info;
        div.append(p);

        let h3 = document.createElement('h3');
        h3.innerText = 'Судейский состав:';
        div.append(h3);

        let ul = document.createElement('ul');
        el.experts.forEach(function(a){
          let li = document.createElement("li");
          li.innerText = a;
          ul.append(li);
        });
        ul.classList.add('ExpertsList');
        div.append(ul);

        h3 = document.createElement('h3');
        h3.innerText = 'Медали клуба:';
        div.append(h3);

        ul = document.createElement('ul');
        el.medals.forEach(function(a){
          let li = document.createElement("li");
          li.innerText = a;
          ul.append(li);
        });
        ul.classList.add('MedalsList');
        div.append(ul);
      
        document.querySelector('div.' + el.title.split(' ')[0] + 'ClubInfo').append(div);
      };

      
