body{
  margin-left: 10px;
}
label {
  margin: 0 5px;
}
div.info p:first-child{
  float: left;
  margin-right: 7px;
}
div.info {
  min-height: 35px;
  margin: 10px 5px;
  padding: 5px 3px;
}
div.info:nth-of-type(even) {
  background-color: #EEEEEE;
}
div.info:nth-of-type(odd) {
  background-color:rgb(201, 197, 197);
}
.left{
  float: left;
  width: 50%;
}
.right{
  float: right;
  width: 50%;
}
.mainBloc{
  width: 60%;
  border-right: 1px solid rgb(25, 140, 223);
  min-height: 100vh;
  height: 100%;
}
.ClubInfo {
  width: 100%;
  border-bottom: 1px solid rgb(25, 140, 223);
}

.sideBloc{
  width: 40%;

  text-align: center;
}
.hid{
  display: none;
}
ul {
  list-style: none;
  padding: 0;
}
.form-group{
  width: 95%;
}
.inviz {
  display: none;
}
button {
  outline: none;
  border: none;
}
.SideList button.btn.btn-sm.btn-primary {
  margin: 5px ;
}